.langLink {
    line-height: 14px!important;
    text-align: center;
    display: inline-block;
    font-family:'canaro-medium'!important;
    font-style:normal!important;
    border:1px #ffae00 solid;
    color: #5d6469!important;
    padding: 3px 20px!important;
    margin: -17px 0 0;
    text-align: center;
    width: inherit;
    float: none;
    border-radius: 20px;
    top: 0;
    right: 0;
}
.dil
{
	overflow:hidden;
    margin-top: -30px;
    padding: 5px;
    text-align: right;
}
.dil a
{
	display: inline-block !important;
}
@media (max-width: 1024px) and (min-width: 1px) {
    header.site-head .contact-us a.langLink {
        position:relative;
        display:inline;
    }
	.dil
	{
		overflow:inherit !important;
		margin-top: 0px;
		padding: 0;
		text-align: none;
		text-align:center;
		margin-bottom:5px;
	}
	.dil a
	{
		display: inline-block !important;
	}
}
